#Gym {
  height: 70vh;
}
.gym {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  margin: 80px;
  margin-left: 0px;
}
.gym_card {
  color: #ffff;
  padding: 10px;
  background-color: rgba(251, 228, 17, 255);
  width: 30vw;
  height: 400px;
  border-radius: 5px;
}
.card_hedding {
  color: black;

  width: 350px;
  height: 50px;
  text-align: center;
  font-size: 1.7rem;
}
.image1 {
  margin: 0px;
  height: 250px;
  background: url("../assets/beg.jpg");
  background-size: cover;
}
.image2 {
  margin: 0px;
  height: 250px;
  background: url("../assets/inter2.jpg");
  background-size: cover;
}
.image3 {
  margin: 0px;
  height: 250px;

  background: url("../assets/adv.avif");
  background-size: cover;
}
.gymButton {
  width: 200px;
  height: 45px;
  background-color: black;
  color: rgba(251, 228, 17, 255);
}
.gymButton:hover {
  background-color: rgba(251, 228, 17, 255);
  border: 2px solid black;
  color: black;
  font-weight: bold;
}

h2 {
  color: gold;
}
.head {
  font-size: 4rem;
  margin: 80px;
  margin-left: 130px;
  text-align: left;
  color: gold;
}
